.fav {
	display: flex;
	align-items: center;
	gap: 8px;
	font-weight: 400;
	color: var(--secondary-color);
	background: transparent;
	border: none;
	cursor: pointer;
	transition: 0.3s;
	margin-left: auto;
	&:hover {
		opacity: 0.7;
	}
}

.fav-svg {
	&:global(.fill) {
		fill: var(--secondary-color);
	}
	&:global(.empty) {
		fill: none;
	}
}
