.button {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
	font-size: 18px;
    font-weight: 600;
	line-height: 1;
	color: var(--secondary-color);
	background: var(--primary-color);
	padding: 14px 18px;
	border: none;
	border-radius: 8px;
	cursor: pointer;

	& svg {
		width: 18px;
		height: 18px;
	}
}
