.authorize {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.confirm {
	font-size: 14px;
	text-align: center;
	line-height: 1.3;
	color: #ccc;
	order: 1;
}

.register {
	display: flex;
	gap: 8px;
	align-items: center;

	& a {
		padding-bottom: 1px;
		border-bottom: 1px dotted #fff;

		&:hover {
			border-bottom: 1px solid #fff;
		}
	}
}
