@forward './reset.scss';
@forward './variables/global.scss';
@forward './themes/dark.scss';
@forward './themes/light.scss';

.app {
	font: var(--font-m);
	font-weight: 300;
	background: var(--bg-color);
	color: var(--secondary-color);
	width: 100%;
	min-height: 100vh;
	position: relative;
	z-index: 10;
}

.content {
	padding-top: 16px;
	padding-bottom: 160px;
}

.container {
	max-width: 1400px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.flex {
	display: flex;
	flex-direction: column;
	gap: 120px;
}

.error {
	font-size: 12px;
	line-height: 1;
	color: darkred;
	margin-top: 6px;
}
