.main {
	&__box {
		display: flex;
		gap: 24px;
		position: relative;
	}

	&__banner {
		max-width: 925px;
		height: 410px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding: 40px;
		gap: 12px;
		color: #fff;
		& img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
			filter: brightness(0.6);
		}
		& .description {
			max-width: 400px;
		}
	}

	&__left {
		flex-basis: 66%;
	}

	&__right {
		flex-basis: 33%;
		height: max-content;
		position: sticky;
		top: 0;
	}
}

.rooms {
	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 50px 24px;
		margin: 32px 0 0;
	}
}

.rooms-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__thumb {
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		& img {
			display: block;
			width: 100%;
			height: 100%;
			max-height: 320px;
			object-fit: cover;
			transition: 0.3s;
		}
	}
	&__thumb-showmore {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: 0.3s;
		background: rgba($color: #000000, $alpha: 0.3);
		font-weight: 300;
	}
	&__about {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	&__head {
		display: flex;
		align-items: baseline;
		gap: 16px;
	}
	&__type {
		font-size: 14px;
		font-weight: 700;
		text-transform: capitalize;
		line-height: 1;
		margin: 16px 0;
		padding: 6px 8px;
		background: var(--tag-bg);
		border-radius: 4px;
		width: max-content;
	}
	&__reviews {
		font-size: 14px;
		font-weight: 500;
	}
	&__title {
		font-size: 32px;
		font-family: var(--font-title);
		letter-spacing: 2px;
		line-height: 1.1;
		flex-grow: 1;
	}
	&__description {
		margin-top: 12px;
	}
	&__price {
		font-size: 20px;
		font-weight: 700;
		display: flex;
		align-items: center;
		gap: 6px;
		margin: 20px 0 0;
	}

	&:hover {
		& .rooms-item__thumb-showmore {
			opacity: 1;
		}
	}
}

:global(.light) {
	& .main__banner img {
		filter: brightness(0.8);
	}
}
