.main {
	&__box {
		display: flex;
		gap: 24px;
		position: relative;
	}

	&__banner {
		max-width: 925px;
		height: 410px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding: 40px;
		gap: 12px;
		color: #fff;
		& img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 8px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
			filter: brightness(0.6);
		}
		& .description {
			max-width: 400px;
		}
	}

	&__left {
		flex-basis: 66%;
	}

	&__right {
		flex-basis: 33%;
		height: max-content;
		position: sticky;
		top: 0;
	}

	&__rooms {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 108px 24px;
		transition: filter 0.3s;

		& img {
			width: 100%;
			object-fit: cover;
			border-radius: 4px;
		}
	}
}
