.app.dark {
	--bg-color: #11151e;
	--primary-color: #ffa500;
	--secondary-color: #ffffff;

	--border-color: #3a3a3a;

	--tag-bg: #373b47;

	--form-bg: #22252d;
	--input-bg: #454852;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url(./clouds-bg.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top center;
		height: 100%;
		z-index: -10;
	}
}
