.nav-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	& button {
		display: flex;
		align-items: center;
		gap: 8px;
		font-weight: 400;
		color: var(--secondary-color);
		background: transparent;
		border: none;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			opacity: 0.7;
		}
	}
}
