.logo {
	display: flex;
	gap: 6px;
	text-decoration: none;
	width: max-content;

	&__title {
		font-family: var(--font-title);
		font-size: 31px;
		font-weight: normal;
		color: var(--secondary-color);
		letter-spacing: 1.2px;
		line-height: 1.1;
		width: 97px;
	}
}
